body {
    text-align: center;
    background-image: url(runningtrack.jpg);
    background-size: 100vw 100vh;
}

#title {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw;
}