.navi > div {
    padding: 6px;
    text-align: center;
    font-size: 2em;
    color: white;
  }
  
  html, body {
    background-color: rgb(39, 35, 35);
    margin: 10px;
  }

  p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* .navi > div:nth-child(1) {
    	
  }
  
  .navi > div:nth-child(2) {
    
  }
  
  .navi > div:nth-child(3) {
    
  }
  
  .navi > div:nth-child(4) {
    
  }

  .navi > div:nth-child(5) {
    
  }

  .navi > div:nth-child(6) {
    
  } */

  @media (max-width: 710px) {
    .navi > div {
        font-size: 1em;
      }
}