.App {
  text-align: center;
  margin: auto;
  width: 12%;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(2, 250px);
}

.square {
    border: 2px solid black;
    margin: 10px;
}