#one {
    position: relative;
    top: 50px;
    left: 300px;
}

#one h2 {
    color: lightgray;
    line-height: 0px;
}

#two h2 {
    color: rgba(255, 255, 255, 0.65);
    position: relative;
    top: 110px;
    left: 200px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
}

#title {
    font-size: 51px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    color: white;
}

.container {
    /* give the container display grid */
    /* with six rows, 50px high */
    /* default all cells/children on the left be 2/3 the screen width, and all on the left 1/3 */
    font-size: 1.2em;
    font-family: 'Libre Baskerville', sans-serif;
    display: grid;
    position: relative;
    grid-template-rows: repeat(6);
    grid-template-columns: 2fr 1fr;
}

.container p {
    position: relative;
    padding-left: 170px;
    padding-right: 100px;
    color: #2e484c;
}

.container h2 {
    position: relative;
    padding-left: 170px;
    padding-right: 100px;
}

.container div {
    color: #2e484c;
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    background-image: url(huntington.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: 2fr 1fr;
}

.authors {
    background-color: rgba(229, 237, 232, 0.9)
}

.authors ul {
    list-style: none;
    padding: 0;
    margin-right: 29%;
    margin-left: 14%;
    width: auto;
}

.authors li {
    padding: 1.5em 10%;
    border-top: solid 1px #d9e3dc;
    font-style: italic;
    color: #c0cac3;
}

.design-name {
    font-size: 1.2em;
    font-family: 'Julius Sans One', sans-serif;
}

.designer-name {
    font-size: 0.9em;
}

.links {
    background-color: rgba(229, 237, 232, 1)
}

.links ul {
    list-style: none;
    padding: 0;
    margin-right: 29%;
    margin-left: 14%;
}

.links li {
    border-top: solid 1px #d9e3dc;
    padding: 1.5em 10%;
}

.empty {
    background-color: rgba(229, 237, 232, 0.9)
}

.green {
    background-color: rgba(138,188,159,0.5);
    background-image: url(bamboo.png);
}

footer {
    /* make these span the width of the page */
    display: grid;
    grid-column: 1/-1;
    text-align: center;
    background-image: url(koi.jpg);
    background-size: cover;
    width: 100%;
    color: rgba(255, 255, 255, 0.65);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2); 
}

.footer1 {
    background-color: #134347;
    padding: 50px;
}

.footer h2 {
    color: rgba(255, 255, 255, 0.65);
    padding: 100px;
}


@media (max-width: 1100px){
    /* use this media query to help these two cells drop to the bottom when screens are smaller */

    #one {
        position: absolute;
        text-align: center;
        grid-row: 1;
        width: 100%;
    }

    #two {
        position: absolute;
        text-align: center;
        grid-row: 2;
        width: 100%;
    }

    .footer {
        grid-row: 3;
    }

    .footer .icons {
        grid-row: 4;
    }

    .authors {
         grid-row: 9;
    }
    .links {
        grid-row: 10;
    }
    /* container could use some help so that it's children are full screen width */
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10);       
    }
}

/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */
.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.icons > div {
    width: 70px;
    height: 70px;
    background-color: #134347;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.5);;
}