* {box-sizing: border-box;}

#title {
    font-size: 51px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    color: white;
}

.container {
    /* give the container display grid */
    /* with six rows, 50px high */
    /* default all cells/children on the left be 2/3 the screen width, and all on the left 1/3 */
    display: grid;
    position: relative;
    grid-template-rows: repeat(6, 520px);
    grid-template-columns: 2fr 1fr;
}

header {
    background-image: url(huntington.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: 2fr 1fr;
}

.container > div {
    border: solid black 1px;
}

.authors {
    background-color: lightcoral
}
.links {
    background-color: lightpink
}

.footer {
    /* make these span the width of the page */
    grid-column: 1/3;
    text-align: center;
    background-color: aquamarine;
}

@media (max-width: 400px){
    /* use this media query to help these two cells drop to the bottom when screens are smaller */
    .authors {
         grid-row: 9;
    }
    .links {
        grid-row: 10;
    }
    /* container could use some help so that it's children are full screen width */
    .container {
        grid-template-rows: repeat(10, 50px);
        grid-template-columns: 1fr;
    }
}

/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */
.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.icons > div {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}