* {
    font-size: 20px;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.france-blue {
    background-color: blue;
    color: blue;
    padding-bottom: 100px;
}

.france-white {
    background-color: white;
    color: white;
    padding-bottom: 100px;
}

.france-red {
    background-color: red;
    color: red;
    padding-bottom: 100px;
}

.germany {
    margin-top: 120px;
}

.germany-black {
    background-color: black;
    width: 145px;
    padding: 5px;
}

.germany-red {
    background-color: red;
    color: red;
    width: 145px;
    padding: 5px;
}

.germany-yellow {
    background-color: yellow;
    color: yellow;
    width: 145px;
    padding: 5px;
}

.madagascar {
    margin-top: 20px;
}

.madagascar-white {
    background-color: white;
    color: white;
    padding-bottom: 80px;
}

.madagascar-red {
    background-color: red;
    color: red;
    padding-bottom: 27px;
    padding-right: 46px;
    position: absolute;
}

.madagascar-green {
    background-color: green;
    color: green;
    width: 90px;
    padding: 15px;
    margin-top: 28px;
    margin-left: 45px;
    position: absolute;
}

.switzerland-red {
    background-color: red;
    color: red;
    text-align: center;
    position: absolute;
    padding: 45px;
    margin-top: 100px;
}

.switzerland-cross1 {
    background-color: white;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 145px;
    margin-left: 27px;
    width: 80px;
}

.switzerland-cross2 {
    background-color: white;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 120px;
    margin-left: 55px;
    height: 75px;
}

.sweden-blue {
    background-color: rgb(35, 94, 223);
    color: blue;
    text-align: center;
    position: absolute;
    padding: 45px;
    margin-top: 240px;
}

.sweden-cross1 {
    background-color: rgb(235, 184, 17);
    color: rgb(235, 184, 17);
    text-align: center;
    position: absolute;
    margin-top: 285px;
    margin-left: 0px;
    width: 134px;
}

.sweden-cross2 {
    background-color: rgb(235, 184, 17);
    color: rgb(235, 184, 17);
    text-align: center;
    position: absolute;
    margin-top: 240px;
    margin-left: 45px;
    height: 114px;
}

.gambia-red {
    background-color: rgb(163, 24, 24);
    color: rgb(163, 24, 24);
    width: 145px;
    padding: 8px;
    margin-top: 370px;
    position: relative;
}

.gambia-white1 {
    background-color: white;
    color: white;
    font-size: 6px;
    width: 145px;
    position: relative;
}

.gambia-blue {
    background-color: rgb(13, 13, 121);
    color: rgb(13, 13, 121);
    width: 145px;
    padding: 5px;
    position: relative;
}

.gambia-white2 {
    background-color: white;
    color: white;
    font-size: 6px;
    width: 145px;
    position: relative;
}

.gambia-green {
    background-color: rgb(10, 99, 10);
    color: rgb(10, 99, 10);
    width: 145px;
    padding: 8px;
    position: relative;
}

.japan-white {
    background-color: white;
    color: white;
    text-align: center;
    position: absolute;
    padding: 50px;
    margin-top: 15px;
}

.japan-circle {
    background-color: red;
    color: red;
    text-align: center;
    position: absolute;
    margin-top: 38px;
    margin-left: 35px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}